# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.pot
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django
*.sqlite3
*.pyc
*.log
media/
staticfiles/
*.mo
*.pot

# VSCode
.vscode/

# Mac
.DS_Store

# Git
*.swp
